*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 10px;
}
.menu-opener{
    display: none;
}
.menu{
    flex: 1;
    display:flex;
    justify-content: flex-end;
}
.menu ul,.menu li {
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}
.menu li a:hover, .menu .active a{
    border-bottom:5px solid #B28756;
    color: #CCC;
}
.button{
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
}
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
}

.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #B28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders_pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #B28756;
}
.defaut{
    padding-top: 50px;
    padding-bottom: 50px;
}
.defaut .section_title, .section_desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.defaut .section_title{
   font-size: 20px;
}
.defaut .section_desc{
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}
.defaut .section_body{
    margin: auto;
    max-width: 1140px;
    
}
.defaut.light{
    background-color: #f7f7f7;
}
.defaut.light .section_title,.defaut.light .section_body{
    color: #000; 
}
.defaut.dark{
    background-color: #000;
}
.defaut.dark .section_title,.defaut.dark .section_body{
    color: #FFF; 
}









/* CSS DE ÁREAS ESPECÍFICAS*/

.section_aboutus{
    display: flex;
}
.section_aboutus_left{
    flex: 1;
}
.section_aboutus_left p{
    font-size: 14px;
    line-height: 25px;
    text-align: justify;  
}
.section_aboutus_rigth{
    width: 520px;
    text-align: center;
}
.section_aboutus_rigth img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}
.section_services{
    display: flex;
}
.section_service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section_service:first-child{
    border-left: 1px solid #333;
}
.section_service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section_service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section_projets{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_projets_filters{
    border: 1px solid #999;
    background-color: #EEE;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 20px;
}
.section_projets_filters ul, .section_projets_filters li{
    list-style: none;
}
.section_projets_filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section_projets_filters li:hover, .section_projets_filters li.active{
    border-bottom: 3px solid #B28756;
}
.section_projets_filters li:first-child{
    border-left: 0px;
}
.section_projets_photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section_projets_photo{
    width: 280px;
}
.section_projets_photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section_projets_photoarea img{
    width: inherit;
    height: inherit;
}
.section_projets_photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
}
.section_projets_photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}
.section_projets_photoarea:hover .section_projets_photoinfo{
    display: flex;
}
.bg_team{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center; 
    padding: 0; 
}
.section_team_area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;  
}
.section_team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section_team .sliders{
    width: 1000vw;
    height: 100%;
}
.section_team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section_team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}
.section_team_area .sliders_pointers{
   margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_team_area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section_team_area .pointer.active{
    background-color: #B28756;
}

.section_team_avatar{
    width: 150px;
    height: auto;
}
.section_team_name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section_team_role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section_team_social{
    display: flex;
    margin-top: 20px;
}
.section_team_social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}
.section_team_social a:hover{
    background-color: #B28756;
}
.clients_depoiments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients_slide{
    text-align: center;
}
.text_depoiments{
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    color: #999;
    width: 500px;
    margin-top: 20px;
    line-height: 20px;
}
.section_team_client{
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    font-weight: 600;
}
.text_depoiments p{
    font-size: 30px;
    margin-bottom: 10px;
}
.section_client_area .sliders_pointers{
    margin-top: 30px;
     height: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .section_client_area .pointer{
     width: 15px;
     height: 15px;
     border: 2px solid #B28756;
     border-radius: 8px;
     margin-left: 5px;
     margin-right: 5px;
     cursor: pointer;
 }
 .section_client_area .pointer.active{
     background-color: #B28756;
 }
 .section_companies{
    border-top:  1px solid #DDD;
    border-bottom: 1px solid #DDD;
 }
 .section_companies_area{
    display: flex;
    align-items: center;
 }
 .section_company{
    flex: 1;
    text-align: center;
 }
 .section_price{
    display: flex;
 }
 .section_price_item{
    flex: 1;
    background-color:#FFF;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
 }
 .section_price_item_name{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
 }
 .section_price_item_money{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
 }

 .section_price_item_period{
    color: #999;
    text-transform: uppercase;
    margin-bottom: 20px;
 }
 .section_price_item_point{
    font-size: 12px;
 }
.button_dark{
    background-color: #000;
}
.premium{
    background-color: #FFF;
    border-top: 1px solid #CCC;
}
.premium .section_body{
    max-width: initial;
}
.section_premium{
    overflow: hidden;
}
.section_premium .sliders{
    width: 1000vw;
    height: 100%;
}
.section_premium .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.section_premium .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    border-bottom: 1px solid #CCC;
    margin: auto;
    padding-bottom: 40px;
}
.section_premium_left{
    flex: 1;
    text-align: right;
}
.section_premium_right{
    flex: 1;
}
.section_premium_item{
    display: flex;
    margin-bottom: 20px;
}
.section_premium_item img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.section_premium_item div{
    flex: 1;
    color: #999;
    line-height: 20px;
}
.section_premium_item div h4{
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.section_premium .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.section_premium .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    border-bottom: 1px solid #CCC;
    margin: auto;
    padding-bottom: 40px;
}
.section_premium .sliders_pointers{
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.section_premium .pointer.active{
    background-color: #B28756;
}
.section_premium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section_facts{
    display: flex;
}
.section_fact{
    flex: 1;
    text-align: center;
    padding: 15px;
}
.section_fact h3{
    color: #B28756;
    font-size: 45px;
}
.section_fact_line{
    width: 20px;
    border-bottom: 2px solid #B28756;
    margin: auto;
}
.section_fact h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section_fact p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section_share{
    display: flex;
    padding: 20px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    color: #999;
}
.section_share_legend{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.section_share_legend img{
    margin-right: 10px;
}
.section_share_item{
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.section_share_icon.twitter{
    background-color: #34c5f0;
}
.section_share_icon.linkedin{
    background-color: #127cb4;
}
.section_share_icon.facebook{
    background-color: #336297;
}
.section_share_icon.google{
    background-color: #e74237;
}
.section_share_icon.pinterest{
    background-color: #b71c29;
}
.section_share_icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_share_icon img{
    height: 12px;
}

.section_contact{
    max-width: 450px;
    margin:auto;
    text-align: center;
}
form{
    display: block;
}
.section_contact_split{
    display: flex;
}

.section_contact_split input:first-child{
    margin-right: 20px;
}

.section_contact input[type=text], .section_contact textarea{
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    outline: 0;
    margin-top: 10px;
}
.section_contact textarea{
    height: 100px;
    resize: none;
}
.section_map{
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section_map_area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section_map_info{
    width: 50%;
    padding: 30px;
    background-color: #FFF;
    color: #000;
}
.section_map_info_item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}
.section_map_info_item_img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.section_map_info_item_img img{
    width: 15px;
    height: auto;
}
footer{
    background-color: #000;
    padding: 20px;
}
.footer_area{
    max-width: 1140px;
    margin: auto;
    color: #FFF;
    display: flex;
}
.footer_area_1{
    flex: 1;
}
.footer_area_2{
    flex: 1;
}
.footer_area_3{
    flex: 1;
}
.footer_social{
    display: flex;
}
.footer_social a{
    width: 25px;
    height: 25px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-right: 10px;
}

.footer_social img{
    height: 10px;
}

.footer_area_2{
    color: #999;
    line-height: 20px;
    font-size: 13px;
    padding: 0 10px 10px 10px;
    text-align: justify;
}
.footer_area_3 form{
    background-color: #333;
    text-align: center;
    padding: 30px;
}
.footer_area_3 input{
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    outline: 0;
    color: #FFF;
    font-size: 14px;
    text-align: center;
}


/* RESPONSIVIDADE TABLET */

@media (min-width:450px) and (max-width:800px) {
    .logo{
        margin-left: 30px;
    }

    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh-100px);
        top: 100px;
        right: 0;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-right: 50px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .section_aboutus{
        flex-direction: column;
    }
    .section_aboutus_left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30PX;
    }

    .section_aboutus_rigth{
        width: auto;
    }
    .section_services{
        flex-wrap: wrap;
    }

    .section_service{
        min-width:50%;
        margin-bottom: 30px;
    }

    .section_service:first-child{
        border-left: 0;
    }

    .section_team{
        max-width: 580px;
    }

    .section_map{
        padding-left: 30px;
        padding-right: 30px;
    }

    .section_map_area, .section_map_info{
        width: auto;
    }

    .section_map_info_item{
        margin-bottom: 20px;
    }

    .section_map_info_item: :last-child{
        margin-bottom: 0;
    }
}

/* RESPONSIVIDADE CELULAR */

@media (max-width:450px) {
    .logo{
        margin-left: 30px;
    }

    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh-100px);
        top: 100px;
        right: 0;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li a{
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-right: 30px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .banner h1{
        font-size:30px;
    }

    .banner h2{
        font-size:17px;
    }

    .section_aboutus{
        flex-direction: column;
    }
    .section_aboutus_left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30PX;
    }

    .section_aboutus_rigth{
        width: auto;
        margin-left: 30px;
        margin-right: 30px; 
    }

    .section_aboutus_rigth img {
        width: 100%;
    }

    .section_services{
        flex-wrap: wrap;
    }

    .section_service{
        min-width:100%;
        margin-bottom: 30px;
    }

    .section_service:first-child{
        border-left: 0;
    }

    .section_projets_filters{
        margin-left: 30px;
        margin-right: 30px;
    }

    .section_projets_photo{
        width: 320px;

    }

    .section_projets_photoarea{
        width: 300px;
        height: 190px;
    }

    .section_team{
        max-width: 280px;
    }

    .section_map{
        padding: 0;
        padding-bottom: 250px;
    }

    .section_map_area, .section_map_info{
        width: auto;
    }

    .section_map_info_item{
        margin-bottom: 20px;
    }

    .section_map_info_item: :last-child{
        margin-bottom: 0;
    }

    .text_depoiments{
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }

    .section_companies_area{
        flex-wrap: wrap;
    }

    .section_company{
        flex: 1;
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section_price{
        flex-wrap: wrap;

    }

    .section_price_item{
        margin-left: 20px;
        min-width: calc(100% - 40px);
        margin-bottom: 20px;
    }
    .slidearea {
        flex-direction: column;

    }

    .section_premium_left{
        align-items: center;
    }
    .section_premium_right{
        margin-left: 30px;
        margin-top: 20px;
    }

    .section_facts{
        flex-wrap: wrap;
    }

    .section_fact{
        min-width: 100%;
    }
    .section_share{
        flex-wrap: wrap;
        justify-content: center;

    }
    .section_share_legend{
        width: 100vw;
        margin: 0;
        margin-bottom: 30px;
        justify-content: center;
    }

    .section_contact{
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer_area{
        flex-direction: column;
    }
    
    .footer_area_1{
        margin-bottom: 30px;
    }
    .footer_area_2{
        margin-bottom: 30px;
    }
    .footer_social{
        justify-content: center;
    }

}
